---
import WhyChooseUs from '../components/WhyChooseUs.astro';
import Services from '../components/Services.astro';
import HomePageGallery from '../components/HomePageGallery.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import EssentialInfo from '../components/EssentialInfo.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HomePageGallery/>
		<Services/>
		<WhyChooseUs/>
		<EssentialInfo/>
		<Testimonials/>
		<CallToAction/>
		<Blog/>
	</main>
</Layout>