---
import Container from "./Container.astro"
---

<div id="features">
  <Container>

    <div class="text-center mt-16">
      <h2 class="text-3xl font-bold text-black">OUR PLUMBING SERVICES</h2>
      <div class="flex justify-center items-center mt-4">
        <div class="flex-grow h-1 bg-[#3E69B2]"></div>
        <img src="/images/logo/mysydplumbing_logo.jpg" alt="Logo" class="h-12 w-auto mx-4" />
        <div class="flex-grow h-1 bg-[#3E69B2]"></div>
      </div>
    </div>

    <!-- Grid Layout with 2 rows and 4 columns, spaced apart -->
    <div class="mt-16 grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
      <!-- General Plumbing -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="General Plumbing"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          General Plumbing
        </div>
      </div>

      <!-- Blocked Drains -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Blocked Drains"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Blocked Drains
        </div>
      </div>

      <!-- Leaking Pipes -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Leaking Pipes"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Leaking Pipes
        </div>
      </div>

      <!-- Toilet Repair -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Toilet Repair"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Toilet Repair
        </div>
      </div>

      <!-- Maintenance -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Maintenance"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Maintenance
        </div>
      </div>

      <!-- Hot Water -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Hot Water"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Hot Water
        </div>
      </div>

      <!-- Gas Fitting -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Gas Fitting"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Gas Fitting
        </div>
      </div>

      <!-- Emergency -->
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 rounded-lg overflow-hidden flex flex-col justify-between">
        <div class="relative flex-grow p-8 flex items-center justify-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-32 grayscale transition duration-300 ease-in-out transform group-hover:grayscale-0 group-hover:scale-110"
            width="512"
            height="512"
            alt="Emergency"
          />
        </div>
        <!-- Bottom Bar -->
        <div class="bg-[#0B2843] text-white text-center py-3">
          Emergency
        </div>
      </div>
    </div>

    <!-- 'View All Services' Link Bar -->
    <div class="mt-8 text-center">
      <a href="/Services" class="inline-block bg-[#0B2843] text-white text-lg py-4 px-12 rounded-lg hover:bg-[#274066] transition duration-300">
        View All Services
      </a>
    </div>

  </Container>
</div>
